* {
  background-color: #80C4B7;
  color: #E3856B
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: 'Lobster', cursive, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  word-spacing: .5em;
}

h1 {
  text-align: center;
  word-spacing: 1.5em;
  font-size: 60px;
}

section.board {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
}

div {
  border: 2px solid #E3856B;
  font-size: 10vmin;
  text-align: center;
  vertical-align: middle;
}

#message {
  text-align: center;
}

#reset-container {
  border: none;
}