* {
  background-color: #80C4B7;
  color: #E3856B;
  font-family: 'Syncopate', sans-serif;
}

body {
  /* Use a system font, if none are available use an available sans-sarif   font */
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  word-spacing: .5em;
}

h1 {
  text-align: center;
  word-spacing: 1;
  font-size: 60px;
  margin-bottom: 0;
  box-sizing: border-box;
}

section.board {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
}

div {
  font-family: 'Permanent Marker', cursive;
  border: 2px solid white;
  font-size: 10vmin;
  text-align: center;
  vertical-align: middle;
}

#message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#reset-container {
  border: none;
}

#reset {
  font-size: 20px;
  padding: 5px;
}

#design {
  color: white;
  text-align: center;
  margin: 25px;
  word-spacing: 30px;
}

.h1Tag {
  color: black;
  font-size: 1em;
}